<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org"> <!--id="ng-app" ng-app="app" ng-controller="SearchBoxController">-->
<head>
    <meta charset="utf-8" />
    <title>SearchBoxTest</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.2.0/css/ui-dark.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.2.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.2.0/js/ui.js"></script>

    <!-- dependencies -->
    <script src="/js/lib/angular.js"></script>
    <script src="/js/lib/angular-winjs.js"></script>

    <!-- SearchBoxTest references -->
    <link href="/css/default.css" rel="stylesheet" />
    <script src="/js/default.js"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    <win-app-bar>
        <win-app-bar-command icon="'sort'" label="'Disposizione verticale'" section="'selection'" ng-click="SetVertical()"></win-app-bar-command>
        <win-app-bar-command icon="'switch'" label="'Disposizione orizzontale'" section="'global'" ng-click="SetHorizontal()"></win-app-bar-command>
    </win-app-bar>

    <win-toggle-switch checked="toggleState"
                       label-off="'Orizzontale'"
                       label-on="'Verticale'"
                       title="'In che stato è il controllo?'"
                       disabled="false"></win-toggle-switch>


    <win-hub orientation="toggleState ? 'vertical' : 'horizontal'">
        <win-hub-section header="'Sezione BINDING:'">
            Lo stato del controllo è: {{toggleState}}<br /><br />
            Calciatore selezionato: {{footballerSelected.name}}<br />
            <img ng-src="{{footballerImage}}" />
        </win-hub-section>
        <win-hub-section header="'Sezione IMMAGINI NOSTALGICHE'">
            <win-list-view item-data-source="strongestFootballersEver"
                           selection-mode="'single'"
                           tap-behavior="'directSelect'"
                           swipe-behavior="'none'"
                           selection="footballersSelected"
                           oniteminvoked="oniteminvoked($event)">
                <win-item-template>
                    <div>
                        {{item.data.name}} <br />
                        <img ng-src="{{item.data.photo}}" />
                    </div>
                </win-item-template>
                <win-list-layout></win-list-layout>
            </win-list-view>
            <!--<table>
                <tr>
                    <td>
                        <a ng-click="LoadImage(0)"><img src="img/bs-baggio.jpg" /></a>
                    </td>
                    <td>
                        <img src="img/bs-guardiola.jpg" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="img/bs-hagi.jpg" />
                    </td>
                    <td>
                        <img src="img/bs-hubner.jpg" />
                    </td>
                </tr>
            </table>-->
        </win-hub-section>
        <win-hub-section header="'Sezione TEMPO'">
            <div style="display: -ms-flexbox; -ms-flex-direction: column;">
                <win-date-picker current="date"></win-date-picker>
                <win-time-picker current="time"></win-time-picker>
            </div>
            <div>
                Data: {{date}}
            </div>
            <div>
                Ora: {{time}}
            </div>
        </win-hub-section>
    </win-hub>
</body>
</html>