<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org"> <!--id="ng-app" ng-app="app" ng-controller="SearchBoxController">-->
<head>
    <meta charset="utf-8" />
    <title>SearchBoxTest</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.2.0/css/ui-dark.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.2.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.2.0/js/ui.js"></script>

    <!-- dependencies -->
    <script src="/js/lib/angular.js"></script>
    <script src="/js/lib/angular-winjs.js"></script>

    <!-- SearchBoxTest references -->
    <link href="/css/default.css" rel="stylesheet" />
    <script src="/js/default.js"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    <win-app-bar>
        <win-app-bar-command icon="'sort'" label="'Disposizione verticale'" section="'selection'" ng-click="SetVertical()"></win-app-bar-command>
        <win-app-bar-command icon="'switch'" label="'Disposizione orizzontale'" section="'global'" ng-click="SetHorizontal()"></win-app-bar-command>
    </win-app-bar>
    
    <win-toggle-switch checked="toggleState"
                       label-off="'Orizzontale'"
                       label-on="'Verticale'"
                       title="'In che stato è il controllo?'"
                       disabled="false"></win-toggle-switch>

    <win-hub orientation="toggleState ? 'vertical' : 'horizontal'"
             style="height:95vh;width:100vw">
        <win-hub-section header="'Sezione SALUTI:'" style="width:40vw">
            <div class="win-type-x-large">AngularJS Day</div>
            <div class="win-type-xx-large">Benvenuti!</div>
            <div class="win-type-large">Ancona, 21 Marzo 2014</div>
            <p>Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione. È sopravvissuto non solo a più di cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci sostanzialmente inalterato. Fu reso popolare, negli anni ’60, con la diffusione dei fogli di caratteri trasferibili “Letraset”, che contenevano passaggi del Lorem Ipsum, e più recentemente da software di impaginazione come Aldus PageMaker, che includeva versioni del Lorem Ipsum.</p>
        </win-hub-section>
        <win-hub-section header="'Sezione BINDING:'" style="width:40vw">
            Lo stato del controllo è: {{toggleState}}<br /><br />
            Calciatore selezionato: {{footballerSelected.name}}<br />
            <img ng-src="{{footballerImage}}" />
        </win-hub-section>
        <win-hub-section header="'Sezione IMMAGINI NOSTALGICHE'" style="width:40vw">
            <win-list-view item-data-source="strongestFootballersEver"
                           selection-mode="'single'"
                           tap-behavior="'directSelect'"
                           swipe-behavior="'none'"
                           selection="footballersSelected"
                           oniteminvoked="oniteminvoked($event)"
                           style="height:60vh">
                <win-item-template>
                    <div style="height:280px">
                        {{item.data.name}} <br />
                        <img ng-src="{{item.data.photo}}" />
                    </div>
                </win-item-template>
                <win-list-layout></win-list-layout>
            </win-list-view>
        </win-hub-section>
        <win-hub-section header="'Sezione TEMPO'" style="width:40vw">
            <div style="display: -ms-flexbox; -ms-flex-direction: column;">
                <win-date-picker current="date"></win-date-picker>
                <win-time-picker current="time"></win-time-picker>
            </div>
            <div>
                Data: {{date}}
            </div>
            <div>
                Ora: {{time}}
            </div>
        </win-hub-section>
    </win-hub>
</body>
</html>